@font-face {
    font-family: 'job-ico';
    src:  url('fonts/icomoon.eot?8tcnaq');
    src:  url('fonts/icomoon.eot?8tcnaq#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?8tcnaq') format('truetype'),
    url('fonts/icomoon.woff?8tcnaq') format('woff'),
    url('fonts/icomoon.svg?8tcnaq#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

i {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'job-ico';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-job-activity:before {
    content: "\e93f";
}
.icon-job-airplay:before {
    content: "\e940";
}
.icon-job-alert-circle:before {
    content: "\e941";
}
.icon-job-alert-octagon:before {
    content: "\e942";
}
.icon-job-alert-triangle:before {
    content: "\e943";
}
.icon-job-align-center:before {
    content: "\e944";
}
.icon-job-align-justify:before {
    content: "\e945";
}
.icon-job-align-left:before {
    content: "\e946";
}
.icon-job-align-right:before {
    content: "\e947";
}
.icon-job-anchor:before {
    content: "\e948";
}
.icon-job-aperture:before {
    content: "\e949";
}
.icon-job-archive:before {
    content: "\e94a";
}
.icon-job-arrow-down:before {
    content: "\e94b";
}
.icon-job-arrow-down-circle:before {
    content: "\e94c";
}
.icon-job-arrow-down-left:before {
    content: "\e94e";
}
.icon-job-arrow-down-right:before {
    content: "\e94d";
}
.icon-job-arrow-left:before {
    content: "\e94f";
}
.icon-job-arrow-left-circle:before {
    content: "\e950";
}
.icon-job-arrow-right:before {
    content: "\e951";
}
.icon-job-arrow-right-circle:before {
    content: "\e952";
}
.icon-job-arrow-up:before {
    content: "\e953";
}
.icon-job-arrow-up-circle:before {
    content: "\e954";
}
.icon-job-arrow-up-left:before {
    content: "\e955";
}
.icon-job-arrow-up-right:before {
    content: "\e958";
}
.icon-job-at-sign:before {
    content: "\e959";
}
.icon-job-award2:before {
    content: "\e95a";
}
.icon-job-bar-chart:before {
    content: "\e95b";
}
.icon-job-bar-chart-2:before {
    content: "\e95c";
}
.icon-job-battery:before {
    content: "\e95d";
}
.icon-job-battery-charging:before {
    content: "\e95e";
}
.icon-job-bell:before {
    content: "\e95f";
}
.icon-job-bell-off:before {
    content: "\e960";
}
.icon-job-bluetooth:before {
    content: "\e962";
}
.icon-job-bold:before {
    content: "\e961";
}
.icon-job-book:before {
    content: "\e963";
}
.icon-job-book-open:before {
    content: "\e964";
}
.icon-job-bookmark:before {
    content: "\e96c";
}
.icon-job-box:before {
    content: "\e965";
}
.icon-job-briefcase2:before {
    content: "\e966";
}
.icon-job-calendar:before {
    content: "\e967";
}
.icon-job-camera:before {
    content: "\e968";
}
.icon-job-camera-off:before {
    content: "\e969";
}
.icon-job-cast:before {
    content: "\e96a";
}
.icon-job-check:before {
    content: "\e96b";
}
.icon-job-check-circle:before {
    content: "\e957";
}
.icon-job-check-square:before {
    content: "\e956";
}
.icon-job-chevron-down:before {
    content: "\e96d";
}
.icon-job-chevron-left:before {
    content: "\e96e";
}
.icon-job-chevron-right:before {
    content: "\e96f";
}
.icon-job-chevron-up:before {
    content: "\e970";
}
.icon-job-chevrons-down:before {
    content: "\e971";
}
.icon-job-chevrons-left:before {
    content: "\e972";
}
.icon-job-chevrons-right:before {
    content: "\e973";
}
.icon-job-chevrons-up:before {
    content: "\e974";
}
.icon-job-chrome:before {
    content: "\e975";
}
.icon-job-circle:before {
    content: "\e976";
}
.icon-job-clipboard:before {
    content: "\e977";
}
.icon-job-clock:before {
    content: "\e978";
}
.icon-job-cloud:before {
    content: "\e979";
}
.icon-job-cloud-drizzle:before {
    content: "\e97a";
}
.icon-job-cloud-lightning:before {
    content: "\e97b";
}
.icon-job-cloud-off:before {
    content: "\e97c";
}
.icon-job-cloud-rain:before {
    content: "\e97d";
}
.icon-job-cloud-snow:before {
    content: "\e97e";
}
.icon-job-code:before {
    content: "\e97f";
}
.icon-job-codepen:before {
    content: "\e980";
}
.icon-job-command:before {
    content: "\e981";
}
.icon-job-compass:before {
    content: "\e982";
}
.icon-job-copy:before {
    content: "\e983";
}
.icon-job-corner-down-left:before {
    content: "\e984";
}
.icon-job-corner-down-right:before {
    content: "\e985";
}
.icon-job-corner-left-down:before {
    content: "\e986";
}
.icon-job-corner-left-up:before {
    content: "\e987";
}
.icon-job-corner-right-down:before {
    content: "\e988";
}
.icon-job-corner-right-up:before {
    content: "\e989";
}
.icon-job-corner-up-left:before {
    content: "\e98a";
}
.icon-job-corner-up-right:before {
    content: "\e98b";
}
.icon-job-cpu:before {
    content: "\e98c";
}
.icon-job-credit-card:before {
    content: "\e98d";
}
.icon-job-crop:before {
    content: "\e98e";
}
.icon-job-crosshair:before {
    content: "\e98f";
}
.icon-job-database:before {
    content: "\e990";
}
.icon-job-delete:before {
    content: "\e991";
}
.icon-job-disc:before {
    content: "\e992";
}
.icon-job-dollar-sign:before {
    content: "\e993";
}
.icon-job-download:before {
    content: "\e994";
}
.icon-job-download-cloud:before {
    content: "\e995";
}
.icon-job-droplet:before {
    content: "\e996";
}
.icon-job-edit:before {
    content: "\e997";
}
.icon-job-edit-2:before {
    content: "\e998";
}
.icon-job-edit-3:before {
    content: "\e999";
}
.icon-job-external-link:before {
    content: "\e99a";
}
.icon-job-eye:before {
    content: "\e99b";
}
.icon-job-eye-off:before {
    content: "\e99c";
}
.icon-job-facebook:before {
    content: "\e99d";
}
.icon-job-fast-forward:before {
    content: "\e99e";
}
.icon-job-feather:before {
    content: "\e99f";
}
.icon-job-file:before {
    content: "\e9a0";
}
.icon-job-file-minus:before {
    content: "\e9a1";
}
.icon-job-file-plus:before {
    content: "\e9a2";
}
.icon-job-file-text:before {
    content: "\e9a3";
}
.icon-job-film:before {
    content: "\e9a4";
}
.icon-job-filter:before {
    content: "\e9a5";
}
.icon-job-flag:before {
    content: "\e9a6";
}
.icon-job-folder2:before {
    content: "\e9a7";
}
.icon-job-folder-minus:before {
    content: "\e9a8";
}
.icon-job-folder-plus:before {
    content: "\e9a9";
}
.icon-job-gift:before {
    content: "\e9aa";
}
.icon-job-git-branch:before {
    content: "\e9ab";
}
.icon-job-git-commit:before {
    content: "\e9ac";
}
.icon-job-git-merge:before {
    content: "\e9ad";
}
.icon-job-git-pull-request:before {
    content: "\e9ae";
}
.icon-job-github:before {
    content: "\e9af";
}
.icon-job-gitlab:before {
    content: "\e9b0";
}
.icon-job-globe:before {
    content: "\e9b1";
}
.icon-job-grid:before {
    content: "\e9c8";
}
.icon-job-hard-drive:before {
    content: "\e9c7";
}
.icon-job-hash:before {
    content: "\e9c6";
}
.icon-job-headphones:before {
    content: "\e9c5";
}
.icon-job-heart:before {
    content: "\e9c4";
}
.icon-job-help-circle:before {
    content: "\e9c3";
}
.icon-job-home:before {
    content: "\e9c2";
}
.icon-job-image:before {
    content: "\e9c1";
}
.icon-job-inbox:before {
    content: "\e9c0";
}
.icon-job-info:before {
    content: "\e9bf";
}
.icon-job-instagram:before {
    content: "\e9be";
}
.icon-job-italic:before {
    content: "\e9bd";
}
.icon-job-layers:before {
    content: "\e9bc";
}
.icon-job-layout:before {
    content: "\e9bb";
}
.icon-job-life-buoy:before {
    content: "\e9ba";
}
.icon-job-link:before {
    content: "\e9b9";
}
.icon-job-link-2:before {
    content: "\e9b8";
}
.icon-job-linkedin:before {
    content: "\e9b7";
}
.icon-job-list2:before {
    content: "\e9b6";
}
.icon-job-loader:before {
    content: "\e9b5";
}
.icon-job-lock:before {
    content: "\e9b4";
}
.icon-job-log-in:before {
    content: "\e9b3";
}
.icon-job-log-out:before {
    content: "\e9b2";
}
.icon-job-mail:before {
    content: "\e9c9";
}
.icon-job-map:before {
    content: "\e9cb";
}
.icon-job-map-pin:before {
    content: "\ea48";
}
.icon-job-maximize:before {
    content: "\e9ca";
}
.icon-job-maximize-2:before {
    content: "\e9cd";
}
.icon-job-menu:before {
    content: "\e9cc";
}
.icon-job-message-circle:before {
    content: "\e9cf";
}
.icon-job-message-square:before {
    content: "\e9ce";
}
.icon-job-mic:before {
    content: "\e9d0";
}
.icon-job-mic-off:before {
    content: "\e9d1";
}
.icon-job-minimize:before {
    content: "\e9d2";
}
.icon-job-minimize-2:before {
    content: "\e9d3";
}
.icon-job-minus:before {
    content: "\e9d4";
}
.icon-job-minus-circle:before {
    content: "\e9d5";
}
.icon-job-minus-square:before {
    content: "\e9d6";
}
.icon-job-monitor:before {
    content: "\e9d7";
}
.icon-job-moon:before {
    content: "\e9d8";
}
.icon-job-more-horizontal:before {
    content: "\e9d9";
}
.icon-job-more-vertical:before {
    content: "\e9da";
}
.icon-job-move:before {
    content: "\e9db";
}
.icon-job-music:before {
    content: "\e9dc";
}
.icon-job-navigation:before {
    content: "\e9dd";
}
.icon-job-navigation-2:before {
    content: "\e9de";
}
.icon-job-octagon:before {
    content: "\e9f5";
}
.icon-job-package:before {
    content: "\e9f4";
}
.icon-job-paperclip:before {
    content: "\e9f3";
}
.icon-job-pause:before {
    content: "\e9f2";
}
.icon-job-pause-circle:before {
    content: "\e9f1";
}
.icon-job-percent:before {
    content: "\e9f0";
}
.icon-job-phone:before {
    content: "\e9ef";
}
.icon-job-phone-call:before {
    content: "\e9ee";
}
.icon-job-phone-forwarded:before {
    content: "\e9ed";
}
.icon-job-phone-incoming:before {
    content: "\e9ec";
}
.icon-job-phone-missed:before {
    content: "\e9eb";
}
.icon-job-phone-off:before {
    content: "\e9ea";
}
.icon-job-phone-outgoing:before {
    content: "\e9e9";
}
.icon-job-pie-chart:before {
    content: "\e9e8";
}
.icon-job-play:before {
    content: "\e9e7";
}
.icon-job-play-circle:before {
    content: "\e9e6";
}
.icon-job-plus:before {
    content: "\e9e5";
}
.icon-job-plus-circle:before {
    content: "\e9e4";
}
.icon-job-plus-square:before {
    content: "\e9e3";
}
.icon-job-pocket:before {
    content: "\e9e2";
}
.icon-job-power:before {
    content: "\e9e1";
}
.icon-job-printer:before {
    content: "\e9e0";
}
.icon-job-radio:before {
    content: "\e9df";
}
.icon-job-refresh-ccw:before {
    content: "\e9f6";
}
.icon-job-refresh-cw:before {
    content: "\e9f7";
}
.icon-job-repeat:before {
    content: "\e9f8";
}
.icon-job-rewind:before {
    content: "\e9f9";
}
.icon-job-rotate-ccw:before {
    content: "\e9fa";
}
.icon-job-rotate-cw:before {
    content: "\e9fb";
}
.icon-job-rss:before {
    content: "\e9fc";
}
.icon-job-save:before {
    content: "\e9fd";
}
.icon-job-scissors:before {
    content: "\e9fe";
}
.icon-job-search:before {
    content: "\e9ff";
}
.icon-job-send:before {
    content: "\ea02";
}
.icon-job-server:before {
    content: "\ea00";
}
.icon-job-settings:before {
    content: "\ea01";
}
.icon-job-share:before {
    content: "\ea03";
}
.icon-job-share-2:before {
    content: "\ea05";
}
.icon-job-shield:before {
    content: "\ea04";
}
.icon-job-shield-off:before {
    content: "\ea06";
}
.icon-job-shopping-bag:before {
    content: "\ea07";
}
.icon-job-shopping-cart2:before {
    content: "\ea08";
}
.icon-job-shuffle:before {
    content: "\ea09";
}
.icon-job-sidebar:before {
    content: "\ea0a";
}
.icon-job-skip-back:before {
    content: "\ea0b";
}
.icon-job-skip-forward:before {
    content: "\ea0c";
}
.icon-job-slack:before {
    content: "\ea23";
}
.icon-job-slash:before {
    content: "\ea22";
}
.icon-job-sliders:before {
    content: "\ea21";
}
.icon-job-smartphone2:before {
    content: "\ea20";
}
.icon-job-speaker:before {
    content: "\ea1f";
}
.icon-job-square:before {
    content: "\ea1e";
}
.icon-job-star:before {
    content: "\ea1d";
}
.icon-job-stop-circle:before {
    content: "\ea1c";
}
.icon-job-sun:before {
    content: "\ea1b";
}
.icon-job-sunrise:before {
    content: "\ea1a";
}
.icon-job-sunset:before {
    content: "\ea19";
}
.icon-job-tablet:before {
    content: "\ea18";
}
.icon-job-tag:before {
    content: "\ea17";
}
.icon-job-target2:before {
    content: "\ea16";
}
.icon-job-terminal:before {
    content: "\ea15";
}
.icon-job-thermometer:before {
    content: "\ea14";
}
.icon-job-thumbs-down:before {
    content: "\ea13";
}
.icon-job-thumbs-up:before {
    content: "\ea12";
}
.icon-job-toggle-left:before {
    content: "\ea11";
}
.icon-job-toggle-right:before {
    content: "\ea10";
}
.icon-job-trash:before {
    content: "\ea0f";
}
.icon-job-trash-2:before {
    content: "\ea0e";
}
.icon-job-trending-down:before {
    content: "\ea0d";
}
.icon-job-trending-up:before {
    content: "\ea24";
}
.icon-job-triangle:before {
    content: "\ea25";
}
.icon-job-truck:before {
    content: "\ea26";
}
.icon-job-tv:before {
    content: "\ea27";
}
.icon-job-twitter:before {
    content: "\ea29";
}
.icon-job-type:before {
    content: "\ea28";
}
.icon-job-umbrella:before {
    content: "\ea2a";
}
.icon-job-underline:before {
    content: "\ea2c";
}
.icon-job-unlock:before {
    content: "\ea2b";
}
.icon-job-upload:before {
    content: "\ea2d";
}
.icon-job-upload-cloud:before {
    content: "\ea30";
}
.icon-job-user:before {
    content: "\ea2f";
}
.icon-job-user-check:before {
    content: "\ea2e";
}
.icon-job-user-minus:before {
    content: "\ea31";
}
.icon-job-user-plus:before {
    content: "\ea32";
}
.icon-job-user-x:before {
    content: "\ea33";
}
.icon-job-users:before {
    content: "\ea34";
}
.icon-job-video:before {
    content: "\ea35";
}
.icon-job-video-off:before {
    content: "\ea36";
}
.icon-job-voicemail:before {
    content: "\ea37";
}
.icon-job-volume:before {
    content: "\ea38";
}
.icon-job-volume-1:before {
    content: "\ea39";
}
.icon-job-volume-2:before {
    content: "\ea3a";
}
.icon-job-volume-x:before {
    content: "\ea47";
}
.icon-job-watch:before {
    content: "\ea46";
}
.icon-job-wifi:before {
    content: "\ea45";
}
.icon-job-wifi-off:before {
    content: "\ea44";
}
.icon-job-wind:before {
    content: "\ea43";
}
.icon-job-x:before {
    content: "\ea42";
}
.icon-job-x-circle:before {
    content: "\ea41";
}
.icon-job-x-square:before {
    content: "\ea40";
}
.icon-job-youtube:before {
    content: "\ea3f";
}
.icon-job-zap:before {
    content: "\ea3e";
}
.icon-job-zap-off:before {
    content: "\ea3d";
}
.icon-job-zoom-in:before {
    content: "\ea3b";
}
.icon-job-zoom-out:before {
    content: "\ea3c";
}
.icon-job-target:before {
    content: "\e900";
}
.icon-job-handshake:before {
    content: "\e901";
}
.icon-job-resume-9:before {
    content: "\e902";
}
.icon-job-smartphone:before {
    content: "\e903";
}
.icon-job-resume-8:before {
    content: "\e904";
}
.icon-job-office:before {
    content: "\e905";
}
.icon-job-trophy:before {
    content: "\e906";
}
.icon-job-interview-1:before {
    content: "\e907";
}
.icon-job-application:before {
    content: "\e908";
}
.icon-job-resume-7:before {
    content: "\e909";
}
.icon-job-resume-6:before {
    content: "\e90a";
}
.icon-job-analytics:before {
    content: "\e90b";
}
.icon-job-resume-5:before {
    content: "\e90c";
}
.icon-job-email-1:before {
    content: "\e90d";
}
.icon-job-folder:before {
    content: "\e90e";
}
.icon-job-shopping-cart:before {
    content: "\e90f";
}
.icon-job-resume-4:before {
    content: "\e910";
}
.icon-job-resume-3:before {
    content: "\e911";
}
.icon-job-resume-2:before {
    content: "\e912";
}
.icon-job-interview:before {
    content: "\e913";
}
.icon-job-medal:before {
    content: "\e914";
}
.icon-job-curriculum:before {
    content: "\e915";
}
.icon-job-resume-1:before {
    content: "\e916";
}
.icon-job-briefcase:before {
    content: "\e917";
}
.icon-job-award:before {
    content: "\e918";
}
.icon-job-resume:before {
    content: "\e919";
}
.icon-job-login:before {
    content: "\e91a";
}
.icon-job-list:before {
    content: "\e91b";
}
.icon-job-businessman-paper-of-the-application-for-a-job:before {
    content: "\e91c";
}
.icon-job-cv:before {
    content: "\e91d";
}
.icon-job-email:before {
    content: "\e91e";
}
.icon-job-account:before {
    content: "\e91f";
}
.icon-job-padlock:before {
    content: "\e920";
}
.icon-job-newspaper:before {
    content: "\e921";
}
.icon-job-beauty-fashion:before {
    content: "\e922";
}
.icon-job-charity2:before {
    content: "\e923";
}
.icon-job-food-diet:before {
    content: "\e924";
}
.icon-job-marketing:before {
    content: "\e925";
}
.icon-job-real-estate2:before {
    content: "\e926";
}
.icon-job-administrative-support:before {
    content: "\e927";
}
.icon-job-art-design:before {
    content: "\e928";
}
.icon-job-auction-law:before {
    content: "\e929";
}
.icon-job-automotive:before {
    content: "\e92a";
}
.icon-job-bank:before {
    content: "\e92b";
}
.icon-job-business-financial:before {
    content: "\e92c";
}
.icon-job-charity:before {
    content: "\e92d";
}
.icon-job-community:before {
    content: "\e92e";
}
.icon-job-design-media:before {
    content: "\e92f";
}
.icon-job-education:before {
    content: "\e930";
}
.icon-job-fashion-beauty:before {
    content: "\e931";
}
.icon-job-food-services:before {
    content: "\e932";
}
.icon-job-installation:before {
    content: "\e933";
}
.icon-job-it-developers:before {
    content: "\e934";
}
.icon-job-manufacturing:before {
    content: "\e935";
}
.icon-job-medical:before {
    content: "\e936";
}
.icon-job-photography:before {
    content: "\e937";
}
.icon-job-real-estate:before {
    content: "\e938";
}
.icon-job-restaurant:before {
    content: "\e939";
}
.icon-job-sale-marketing:before {
    content: "\e93a";
}
.icon-job-science:before {
    content: "\e93b";
}
.icon-job-shop:before {
    content: "\e93c";
}
.icon-job-technology:before {
    content: "\e93d";
}
.icon-job-transportation:before {
    content: "\e93e";
}
